.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10;
}
.calculator-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calculator-form-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
.calculator-form-container input:focus {
    outline: none;
    border-color: blue;
}
.calculator-form-container span {
    font-size: 20px;
    font-weight: 1000;
}
.calculator-form-container button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
}
.calculator-form-container button:hover {
    background-color: darkblue;
}