<div class="main-container">
    <form class="calculator-form">

        <span>Calculadora</span>
        
        <div class="label-container">
            <label for="num1">Número 1</label>
            <input type="number" [(ngModel)]="num1" (click)="onClickClearField('num1')" [value]="num1 === 0 ? '' : num1"
                name="num1" />
        </div>

        <div class="label-container">
            <label for="num2">Número 2</label>
            <input type="number" [(ngModel)]="num2" (click)="onClickClearField('num2')" [value]="num2 === 0 ? '' : num2"
                name="num2" />
        </div>

        <div class="buttons-container">
            <button (click)="onClickSum()">+</button>
            <button (click)="onClickSub()">-</button>
            <button (click)="onClickMul()">×</button>
            <button (click)="onClickDiv()">÷</button>
            <button (click)="onClickPow()">x²</button>
            <button (click)="onClickSqrt()">√x</button>
        </div>
    </form>

    <div class="calculator-form">
        <div id="result-container-header">
            <span style="margin-right: 5vh;">{{showHistory ? "Histórico" : "Resultado"}}</span>
            
            <button class="history-button" *ngIf="showHistory" id="clear-history-button" (click)="onClickClearHistory()">
                <mat-icon color="red">delete</mat-icon>  
            </button>

            <button class="history-button" (click)="showHistory = !showHistory">
                <mat-icon>{{showHistory ? 'close' : 'history'}}</mat-icon>
            </button>
        </div>

        <div style="overflow-y: auto; width: 100%;">
            <div *ngIf="showHistory">
                <div *ngIf="history.length === 0">
                    <p>Nenhum cálculo realizado</p>
                </div>

                <div *ngFor="let operation of history.reverse()">
                    <button id="history-count-button" (click)="onClickAddNumbersToCount(operation)">{{operation}}</button>
                </div>
            </div>

            <div *ngIf="!showHistory">
                <p>{{result}}</p>
            </div>
        </div>
    </div>
</div>