span {
    font-size: 20px;
    font-weight: 600;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 25px 20px;
    gap: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
    .calculator-form {
        max-height: 43vh;
    }
}

.calculator-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.calculator-form input:focus {
    outline: none;
    border-color: blue;
}

.label-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.buttons-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-container button {
    flex: 1 1 calc(33.33% - 1vh);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.buttons-container button:hover {
    background: darkblue;
    transition: 0.1s;
}

.history-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-button:hover {
    color: #ccc;
    transition: 0.1s;
}

#history-count-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    margin-top: 2vh;
    border-radius: 5px;
}

#history-count-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

#result-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
    gap: 1vh;
}